*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  color: var(--text);
  background: var(--white);
}
.shop{
  img {
  display: block;
  max-width: 100%;
}
}

ul {
  list-style: none;
}
